<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Home</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <plugin name="cordova-sqlite-storage" spec="~3.2.0" />
    <!-- <plugin name="cordova-sqlite-storage" spec="1" /> -->
    <gap:plugin name="SQLitePlugin" value="SQLitePlugin" />
    <!-- <plugin name="cordova-plugin-whitelist" spec="1" /> -->
    <engine name="android" spec="~7.1.4" />
    <engine name="browser" spec="~5.0.4" />
</widget>
